* {
    transition: 0.4s;
}

*::-webkit-scrollbar {
    display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-indigo-my {
    background: #645eca;
}

.bg-ingido-gray-my {
    background: #2c2c38;
}

.bg-indigo-dark {
    background: #21212d;
    // width: 410px;
}

.bg-ingido-gray-my:hover {
    background: #404053;
    & div, p, img {
        background: #404053;
    }
}

.bg-ingido-gray-my:active {
    background: #ffffff;
    & div, p, img {
        background: #ffffff;
        color: #645eca;
    }
}

.shawod-indigo-gray-my {
    box-shadow: 0px 6px #222534;
}

.bg-gray-my {
    background: #656877;
}

.bg-gray-my-c {
    color: #656877;
}

.border-gray-my {
    border-color: #656877;
    // outline: none;
    // border: 10px solid;
}

.bg-opacity-gray {
    background: #65687770;
}

.button {
    background-color: #645eca;
    color: #ffffff;
    padding: 0 1rem 0 1rem;
}

.button:hover {
    background-color: #fff;
    color:#645eca;
}

.buttonInvers {
    color: #645eca;
    background-color: #fff;
    padding: 0 1rem 0 1rem;
}

.buttonInvers:hover {
    background-color: #645eca;
    color: #fff
}

.buttonInvers:active {
    background-color: #21212d;
    // border: 1px #fff solid;
    box-shadow: 0 0 3px #fff;
    color:#656877;
}

.button:active {
    background-color: #21212d;
    // border: 1px #fff solid;
    box-shadow: 0 0 3px #fff;
    color:#656877;
}

.buttonAddNewTitleTask {
    background: #ffffff05;
}

.buttonAddNewTitleTask:hover {
    background: #ffffff20;
}

.buttonAddNewTitleTask:active {
    background: #ffffff00;
    box-shadow: 0 0 3px #fff;
    color: #fff;
}


// input:focus {
//     outline: none;
// }

input {
    background-color: rgba(0, 0, 0, 0);
}